.chess-page {
  position: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .board {
    .btn-group {
      align-items: center;
      justify-content: center;
      display: flex;

      p {
        color: rgb(209, 54, 54);
        font-size: 1.5rem;
        font-family: 'Coolvetica', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 15px;
      }

      .chess-btn {
        cursor: pointer;
        background-color: #961c1c;
        font-size: 1.7rem;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        width: 100px;
        border-radius: 5px;
        margin: 0px 15px 15px 15px;
        border: 3px ridge #022c4360;
      }
      .chess-btn-phone {
        cursor: pointer;
        background-color: #961c1c;
        font-size: 1.7rem;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        width: 80px;
        border-radius: 5px;
        margin: 3px;
        padding: 0px;
        height: 30px;
      }
      .chess-btn-bottom {
        cursor: pointer;
        background-color: #961c1c;
        font-size: 1.7rem;
        font-family: 'Times New Roman', Times, serif;
        color: #fff;
        width: 80px;
        border-radius: 5px;
        margin: 3px;
        padding: 0px;
        height: 30px;
      }

      .activeBtn {
        cursor: pointer;
        background-color: #fff;
        font-size: 1.7rem;
        font-family: 'Times New Roman', Times, serif;
        color: #961c1c;
        width: 100px;
        border-radius: 5px;
        margin: 0px 15px 15px 15px;
        border: 3px ridge #961c1c;
      }
      .activeBtn-phone {
        cursor: pointer;
        background-color: #fff;
        font-size: 1.7rem;
        font-family: 'Times New Roman', Times, serif;
        color: #961c1c;
        width: 80px;
        border-radius: 5px;
        margin: 3px;
        padding: 0px;
        height: 30px;
        border: 3px ridge #961c1c;
      }

      .activeBtn:hover {
        color: #961c1c;
        background-color: #fff;
      }

      .chess-btn:hover {
        color: #961c1c;
        background-color: #fff;
      }

      .chess-btn-phone:focus {
        background-color: #fff;
        color: #961c1c;
        border: 3px solid #961c1c;
      }
    }

    .bordered {
      border: none;
    }
    .onCheck {
      border: 6px ridge red;
      border-radius: 5px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .chess-page {
    margin-top: 70px;
    .board {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
