html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  display: block;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #022c43; -> blue color*/
  /* rgb(209, 54, 54)  ---  #D13636  -->  Red color*/
  /* #181818 -> black -grey color */
  background: #333;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }

  .who-page {
    width: 100%;
    margin-bottom: 5%;
  }

  .contact-page {
    width: 100%;
  }

  
}
