html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  display: block;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #022c43; -> blue color*/
  /* rgb(209, 54, 54)  ---  #D13636  -->  Red color*/
  /* #181818 -> black -grey color */
  background: #333;
}

.dashboard {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  width: 100%;


}

.dashboard-form {
  border: 2px solid blue;
}
.dashboard-list {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  width: 200px;
}

.dashboard-edit {
  border: 2px solid white;
}
.dashboard-list h3 {
  color: #fff;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}
